  /* css pending  for responsive mobile devices */
  
  .bounds {
    background-color: transparent;
    height :800px;
  }
    
  .content {
    min-width: 300px;
    /*height: 400px;*/
  }
  
  .sec1 {
    background-color: transparent;
    text-align: center;
  }

  .img {
    margin-bottom: 18%;
  }
  

  .bgimg-1 {
    background-image: url("../../assets/red.jpg");
    min-height: 800px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgimg-2 {
    background-image: url("../../assets/blue.jpeg");
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  
  .caption span.border {
    background-color: transparent;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  

  @media only screen and (max-device-width: 1024px) {
    .bgimg-1 {
      min-height: 700px;
  } 
}